body { 
    font-family: Verdana; 
    font-size: 18px; 
    color: #444; 
} 
  
a {color: #48577D; text-decoration: none;} 
  
a:hover {text-decoration: underline;} 
  
h1, h2 {margin-bottom: 20px} 
  
h1 {font-size: 24px;} 
h2 {font-size: 16px} 
  
#container { 
	width: 890px;
    background-color: rgba(220,220,220,0.4); 
    margin: 100px auto;
    padding:15px; 
    overflow: hidden; 
} 
  
    #main { 
        width: 670px; 
        float: left; 
    } 
      
        #main table { 
            width: 660px; 
        } 
          
            #main table th { 
                padding: 20px; 
                background-color: #00b0ff; 
                color: #fff; 
                text-align: left; 
            } 
              
            #main table td { 
                padding: 5px; 
            } 
              
            #main table tr { 
                background-color: #ffffff;
                
            } 
      
    #sidebar { 
        width: 150px; 
        margin: 3px 30px 0px 30px;
        float: right; 
    }
   